:root {
  --white: hsl(0, 0%, 100%);
  --gray-clr-300: hsl(212, 45%, 89%);
  --gray-clr-400: hsl(220, 15%, 55%);
  --blue-clr-700: hsl(218, 44%, 22%);

  --ff-base: 'Outfit', sans-serif;

  --fs-300: 0.6875rem; /* 11px */
  --fs-400: 0.9375rem; /* 15px */
  --fs-500: 1.375rem; /* 22px */

  --fw-400: 400;
  --fw-700: 700;
}
/* ----- Global ----- */
html {
  font-size: 100%;
  box-sizing: border-box;
  height: -webkit-fill-available;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
}
body {
  min-height: 100vh;
  height: -webkit-fill-available;
  background-color: var(--gray-clr-300);
  font-family: var(--ff-base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ----- Card ----- */
.card {
  background-color: var(--white);
  width: 19.9219rem;
  padding: 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}
.card__qr-code {
  width: 100%;
  border-radius: 1rem;
  display: block;
}
.card__title {
  color: var(--blue-clr-700);
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  text-align: center;
  margin: 1em 0;
}
.card__paragraph {
  color: var(--gray-clr-400);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  text-align: center;
  line-height: 1.375em;
  padding-inline: 1em;
  margin: 0 0 1.5em;
}
/* ----- Footer ----- */
.attribution {
  font-size: var(--fs-300);
  text-align: center;
  margin-top: 3rem;
}
.attribution a {
  color: hsl(216, 95%, 58%);
  font-weight: var(--fw-700);
}
.attribution a:hover {
  transition: all .25s ease;
  opacity: .7;
}
/* Needed if height of device is smaller than the height of the card (landscape phones) */
@media (max-height: 45rem) {
  body {
    min-height: 41.6875rem;
  }
}